[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-beam = {extras = ["gcp"], version = "*"}
pyyaml = "*"
v1 = "*"
pytimeparse = "*"

[dev-packages]

[requires]
python_version = "3.8"
