[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-beam = {version = "==2.28.0", extras = ["gcp"]}
pyyaml = "*"
pytimeparse = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
